body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #122A3B;
}

.login__contenedor {
    width: 320px;
    background-color: #1f506e;
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 35px #fff;
}

.login__formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.login__logo {
    height: 6em;
    padding: 20px 8px 30px 8px;
    margin-top: 30px;
}

.container__datos {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.login__input {
    width: 90%;
    padding: 12px 10px;
    border-radius: 8px;
    margin: 5px 0;
    margin-bottom: 15px;
    border: none;
}

.login__input::placeholder {
    font-size: 1.1em;
}

.login__button {
    padding: 5px 10px;
    font-size: 1em;
    border-radius: 4px;
}

.iniciar-sesion {
    margin-top: 10px;
    background-color: #81cd89;
    border: 2px solid #81cd89;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.iniciar-sesion:hover {
    background-color: #54a19d;
    border: 2px solid #54a19d;
}